@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./fonts/fonts";

.app,
body {
    font: var(--font-s);
    color: var(--text-color);
    background: var(--bg-color);
    min-height: 100vh;
}

a {
    font: var(--font-s);
    color: var(--text-color);
    text-decoration: none;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 22px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-light-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--icon-color);
    border-radius: 38px;
    border: none;
}

.hide {
    opacity: 0;
}
