.ThemeSwitcher {
    line-height: 0;
}

.icon {
    border-radius: 50%;

    // transition: all 0.2s;

    path {
        fill: var(--icon-color);

        // transition: all 0.2s;
    }

    &:hover {
        box-shadow: 0 3px 10px 0 rgb(16 55 163 / 60%);

        path {
            fill: var(--accent-color);
        }
    }
}
