.m {
    font: var(--font-m);
}

.l {
    font: var(--font-l);
}

.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
}

.error {
    color: var(--cancel-color);
}

.center {
    text-align: center;
}
