.LanguageSwitcher {
    color: var(--icon-color);
    font-size: 22px;
    font-weight: 700;
    transition: all 0.2s;

    &:hover {
        text-shadow: 0 3px 10px rgb(16 55 163 / 60%);
        color: var(--accent-color);
    }
}
