.header {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 8px;
}

.third {
    margin-bottom: 8px;
}

.fourth,
.fifth,
.sixth,
.ninth {
    margin-bottom: 16px;
}

.seventh,
.eighth {
    margin-bottom: 6px;
}

.tenth {
    margin-left: auto;
}
