.ProfilePage {
    background: var(--bg-dark-color);
    padding: 24px;
    border-radius: 32px;
    width: 780px;
    margin: 32px auto;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
