.app.light {
	--bg-color: #EFF5F6;
	--bg-dark-color: #FFF;
	--bg-light-color: #E2EEF1;
	--text-color: #141C1F;
	--hint-color: #ADBCC0;
	--cancel-color: #FF7777;
	--save-color: #62DE85;
	--icon-color: #5ED3F3;
	--accent-color: #00C8FF;
}